# 2.1 내장 시퀀스 개요

# Container sequence : list, tuple, collections.deque

## Container sequence can store different types of element. it has reference of object and object can be any type of data

# Flat sequence : str, bytes, bytearray, memoryview, array.array

## Flat sequence can store only one type of element. it stores value of data instead of reference of data

# Also, sequences can be classified by variability

# Variable sequeces : list, bytearray, array.array, collections.deque, memoryview
# Fixed sequences : tuple, str, bytes

# 2.2 List Comprehesion(listcomp)와 Generator Expression(genexp)
## 2.2.1 list comprehesion와 가독성

## Ex 2-1)

In [3]:
symbols = '!@#$%^'
codes = []
for symbol in symbols:
    codes.append(ord(symbol))
print(codes)

[36, 35, 42, 64, 35]

## Ex 2-2)

In [2]:
symbols = '!@#$%^'
codes = [ord(symbol) for symbol in symbols]
print(codes)

[36, 35, 42, 64, 35]

## you'd better use listcomp if you try to make new list

In [4]:
x = 'ABC'
dummy = [ord(x) for x in x]
print(x)

ABC

In [6]:
print(dummy)

[65, 66, 67]

## 2.2.2 comparsion between list comprehesion and map()/filter()

In [10]:
symbols = '!@#$%^'
beyond_ascii = [ord(s) for s in symbols if ord(s) > 30]
print(beyond_ascii)

[33, 64, 35, 36, 37, 94]

In [13]:
beyond_ascii = list(filter(lambda c: c > 30, map(ord, symbols)))
print(beyond_ascii)

[33, 64, 35, 36, 37, 94]

## the codes below shows list comp. is faster than map()/filter()

In [14]:
import timeit

TIMES = 10000

SETUP = """
symbols = '$¢£¥€¤'
def non_ascii(c):
    return c > 127
"""

def clock(label, cmd):
    res = timeit.repeat(cmd, setup=SETUP, number=TIMES)
    print(label, *('{:.3f}'.format(x) for x in res))

clock('listcomp        :', '[ord(s) for s in symbols if ord(s) > 127]')
clock('listcomp + func :', '[ord(s) for s in symbols if non_ascii(ord(s))]')
clock('filter + lambda :', 'list(filter(lambda c: c > 127, map(ord, symbols)))')
clock('filter + func   :', 'list(filter(non_ascii, map(ord, symbols)))')

listcomp        : 0.008 0.008 0.008 0.008 0.008
listcomp + func : 0.012 0.011 0.011 0.011 0.011
filter + lambda : 0.010 0.010 0.010 0.011 0.010
filter + func   : 0.010 0.010 0.010 0.010 0.010

## 2.2.3 Cartesian product with listcomp

In [15]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]
print(tshirts)

[('black', 'S'), ('black', 'M'), ('black', 'L'), ('white', 'S'), ('white', 'M'), ('white', 'L')]

## Listcomp can only make a 'List'
## If you want to make another sequences besides 'List', I can use generator expression

## 2.2.4 Generator Expression

In [16]:
symbols = '!@#$%^'
tuple(ord(symbol) for symbol in symbols)

(33, 64, 35, 36, 37, 94)

In [18]:
import array
array.array('I', (ord(symbol) for symbol in symbols))  # consecutive sequence that contains value itself as 'INT'

array('I', [33, 64, 35, 36, 37, 94])

## Cartesian product in Generator Expression

In [20]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']

for tshirt in ('%s %s' % (c, s) for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

## Genexp intialize other sequences besides 'List' and create temporary sequences

# 2.3 Tuple : not just fixed list

## 2.3.1 Tuple as record

In [21]:
lax_coordinates = (33.9425, -118.408056)

city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)

traveler_ids = [('USA', '3119'), ('BRA', 'CE342567'), 
               ('ESP', 'XDA205856')]
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USA/3119

In [22]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

## 2.2.3 Tuple Unpacking (a.k.a iterable unpacking)

In [1]:
lax_coordinates = (33.9425, -118.408056)
latitude, longtitude = lax_coordinates
print(latitude)
print(longtitude)

33.9425
-118.408056

## can swap two values without using temporal variable

In [3]:
a, b = 3, 4
b, a = a, b
print(a, b)

4 3

In [4]:
divmod(20, 8)

(2, 4)

In [5]:
t = (20, 8)
divmod(*t)

(2, 4)

In [6]:
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

In [7]:
import os
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')
filename

'idrsa.pub'

## use * when catching variable arguments

In [1]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [3]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [9]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

## only one argument can be used in unpacking

In [10]:
*a, *body, c, d = range(5)
a, body, c, d

SyntaxError: two starred expressions in assignment (<ipython-input-10-efe11efec5d0>, line 4)

In [11]:
a, *body, c, d = range(5)
a, body, c, d

(0, [1, 2], 3, 4)

In [12]:
*head, b, c, d = range(5)
head, b, c, d

([0, 1], 2, 3, 4)

## 2.3.3 nested tuple unpacking

In [15]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)), 
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)), 
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)), 
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)), 
]
print('{:15} | {:^9} | {:^9}'.format('', 'lat. ', 'long. '))
fmt = '{:15} | {:^9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longtitude) in metro_areas:
    if longtitude <= 0:
        print(fmt.format(name, latitude, longtitude))

                          |   lat.    |  long.
Mexico City     |  19.4333  |  -99.1333
New York-Newark |  40.8086  |  -74.0204
Sao Paulo       | -23.5478  |  -46.6358

## 2.3.4 Named Tuple

## collections.namedtuple() is used to debug

## recall Ex) 1-1 Card = collections.namedtuple('Card', ['rank', 'suit'])

In [16]:
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [17]:
tokyo.population

36.933

In [19]:
tokyo.coordinates

(35.689722, 139.691667)

In [20]:
tokyo[1]

'JP'

## named tuple has several attributes
## _fields attribute, _make (iterable) class method, _asdict() object method

### Ex 2-10

In [31]:
City._fields

('name', 'country', 'population', 'coordinates')

In [32]:
LatLong = namedtuple('LatLong', 'lat long')

In [39]:
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi = City._make(delhi_data)
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [40]:
for key, value in delhi._asdict().items():
    print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

## 2.3.5 Tuple as Unchangable List

## some methods on list can be applied to tuple

# 2.4 Slicing

## 2.4.1 The reason why slicing and range-notation doesn't include the last index

### easy to calcualte length
### easy to slice sequences without overlap

In [41]:
l = [10, 20, 30, 40, 50, 60]
l[:2]

[10, 20]

In [42]:
l[2:]

[30, 40, 50, 60]

In [43]:
l[:3]

[10, 20, 30]

In [44]:
l[3:]

[40, 50, 60]

## 2.4.2 Slice object

## s[a:b:c] : slice list from a to b with c
## if c < 0, reversed index

In [46]:
s = "bicycle"
s[::3]

'bye'

In [47]:
s[::-1]

'elcycib'

In [48]:
s[::-2]

'eccb'

## 2.4.3 nth dimension slicing and abbreviation

## 2.4.4 intialize with slicing

In [52]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
l[2:5] = [20, 30]
l

[0, 1, 20, 30, 5, 6, 7, 8, 9]

In [54]:
del l[5:7]
l

[0, 1, 20, 30, 5, 8, 9]

In [55]:
l[3::2] = [11, 22]
l

[0, 1, 20, 11, 5, 22, 9]

In [56]:
l[2:5] = 100
l

TypeError: can only assign an iterable

In [57]:
l[2:5] = [100]
l

[0, 1, 100, 22, 9]

# 2.5 applying +, * to sequences

In [59]:
l = [1,2,3]
l * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [60]:
5 * 'abcd'

'abcdabcdabcdabcdabcd'

## 2.5.1 make list in list

## Ex 2-12

In [61]:
board = [['_'] * 3 for i in range(3)]
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [67]:
board[1][2] = 'X'
board

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

## Ex 2-13

In [63]:
weird_board = [['_'] * 3] * 3  # this expression makes a list that has same reference on a object
weird_board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [66]:
weird_board[1][2] = '0'
weird_board

[['_', '_', '0'], ['_', '_', '0'], ['_', '_', '0']]

### Ex 2-13 executes like below

In [69]:
row = ['_'] * 3
board = []
for i in range(3):
    board.append(row)

### However Ex 2-12 executes like below

In [70]:
board = []
for i in range(3):
    row = ['_'] * 3
    board.append(row)

In [71]:
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [72]:
board[2][0] = 'X'

In [73]:
board

[['_', '_', '_'], ['_', '_', '_'], ['X', '_', '_']]

# 2.6 multi-assignment of sequences

## a += b calls __iadd()__ if not, calls __add()__
## the codes below show *= is applied to variable sequence and fixed sequence

In [74]:
l = [1,2,3]
id(l)

2513071588680

In [75]:
l *= 2
l

[1, 2, 3, 1, 2, 3]

In [76]:
id(l)

2513071588680

In [84]:
t = (1,2,3)
id(t)

2513070903688

In [85]:
t *= 2
print(t)

(1, 2, 3, 1, 2, 3)

In [86]:
id(t)

2513070481864

## 2.6.1 Multi-assignment Quiz

In [89]:
t = (1, 2, [30, 40])
t[2] += [50, 60]

TypeError: 'tuple' object does not support item assignment

In [90]:
print(t)

(1, 2, [30, 40, 50, 60])

## 2.7 list.sort() and sorted()

In [1]:
fruits = ['grape', 'rasberry', 'apple', 'banana']
sorted(fruits)

['apple', 'banana', 'grape', 'rasberry']

In [2]:
fruits

['grape', 'rasberry', 'apple', 'banana']

In [3]:
sorted(fruits, reverse = True)

['rasberry', 'grape', 'banana', 'apple']

In [4]:
sorted(fruits, key = len)

['grape', 'apple', 'banana', 'rasberry']

In [5]:
sorted(fruits, key = len, reverse = True)

['rasberry', 'banana', 'grape', 'apple']

## 2.8 sorted sequence with bisect module

In [4]:
import bisect
import sys

HAYSTACK = [1, 4, 5, 6, 8, 12, 15, 20, 21, 23, 23, 26, 29, 30]
NEEDLES = [0, 1, 2, 5, 8, 10, 22, 23, 29, 30, 31]

ROW_FMT = '{0:2d}@{1:2d}       {2}{0:<2d}'

def demo(bisect_fn):
    for needle in reversed(NEEDLES):
        position = bisect_fn(HAYSTACK, needle)
        offset = position * '   |'
        print(ROW_FMT.format(needle, position, offset))
    
if __name__ == '__main__':
    if sys.argv[-1] == 'left':
        bisect_fn = bisect.bisect_left
    else:
        bisect_fn = bisect.bisect
    
    print('DEMO: ', bisect_fn.__name__)
    print('haystack ->', ' '.join('%2d' % n for n in HAYSTACK))
    demo(bisect_fn)

DEMO:  bisect_right
haystack ->  1  4  5  6  8 12 15 20 21 23 23 26 29 30
31@14          |   |   |   |   |   |   |   |   |   |   |   |   |   |31
30@14          |   |   |   |   |   |   |   |   |   |   |   |   |   |30
29@13          |   |   |   |   |   |   |   |   |   |   |   |   |29
23@11          |   |   |   |   |   |   |   |   |   |   |23
22@ 9          |   |   |   |   |   |   |   |   |22
10@ 5          |   |   |   |   |10
 8@ 5          |   |   |   |   |8
 5@ 3          |   |   |5
 2@ 1          |2
 1@ 1          |1
 0@ 0       0

In [6]:
print('DEMO: ', bisect_fn.__name__)
print('haystack ->', ' '.join('%2d' % n for n in HAYSTACK))
demo(bisect.bisect_left)

DEMO:  bisect_right
haystack ->  1  4  5  6  8 12 15 20 21 23 23 26 29 30
31@14          |   |   |   |   |   |   |   |   |   |   |   |   |   |31
30@13          |   |   |   |   |   |   |   |   |   |   |   |   |30
29@12          |   |   |   |   |   |   |   |   |   |   |   |29
23@ 9          |   |   |   |   |   |   |   |   |23
22@ 9          |   |   |   |   |   |   |   |   |22
10@ 5          |   |   |   |   |10
 8@ 4          |   |   |   |8
 5@ 2          |   |5
 2@ 1          |2
 1@ 0       1
 0@ 0       0

In [8]:
def grade(score, breakpoints = [60, 70, 80, 90], grades = "FDCBA"):
    i = bisect.bisect(breakpoints, score)
    return grades[i]

In [9]:
[grade(score) for score in [33, 99, 77, 70, 89, 90, 100]]

['F', 'A', 'C', 'C', 'B', 'A', 'A']

## 2.8.2 insertion by bisect.insort()

In [12]:
import bisect
import random

SIZE = 7

random.seed(1729)

my_list = []
for i in range(SIZE):
    new_item = random.randrange(SIZE * 2)
    bisect.insort(my_list, new_item)
    print("%d ->" % new_item, my_list)

10 -> [10]
0 -> [0, 10]
6 -> [0, 6, 10]
8 -> [0, 6, 8, 10]
7 -> [0, 6, 7, 8, 10]
2 -> [0, 2, 6, 7, 8, 10]
10 -> [0, 2, 6, 7, 8, 10, 10]